<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.2785.1482" targetFramework="net46" />
  <package id="cef.redist.x86" version="3.2785.1482" targetFramework="net46" />
  <package id="CefSharp.Common" version="53.0.0" targetFramework="net46" />
  <package id="CefSharp.Wpf" version="53.0.0" targetFramework="net46" />
  <package id="DotNetBrowser" version="1.8.3" targetFramework="net452" />
  <package id="Expression.Blend.Sdk" version="1.0.0" targetFramework="net452" />
  <package id="MahApps.Metro" version="1.4.0-ALPHA036" targetFramework="net452" />
  <package id="Selen.Wpf" version="1.0.0" targetFramework="net452" />
</packages>